  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Starter Page - Impact Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">
      <style>
      .video-container {
        position: relative;
        background-image: url('/mnt/data/image.png');
        background-size: cover;
        background-position: center;
        padding: 150px 0;
      }
      .video-wrapper {
        width: 200%;
        max-width: 640px;
        margin: 0 auto;
      }
      .video-wrapper iframe {
        width: 100%;
        height: 400px; 
      }
      h2{
        color: slategrey;
      }

      .custom-button {
        display: inline-block;
        padding: 20px 40px; /* Increased padding */
        font-size: 24px; /* Increased font size */
        font-weight: 700;
        color: white;
        background-color: #007bff;
        border: none;
        border-radius: 10px; /* Increased border radius */
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
        cursor: pointer;
      }

      .custom-button:hover {
        background-color: #0056b3;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
      }

      input[type="number"] {
            -moz-appearance: textfield;
      }


    input[type="submit"]:hover {
      background-color: #357ABD;
    }

    input[type="submit"]:active {
      background-color: #2d5f8d;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    input[type="number"]:focus {
      border-color: #357ABD;
      box-shadow: 0 0 5px rgba(53, 122, 189, 0.5);
    }

    .grassroot-movement {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #222222;
  text-align: center;
  letter-spacing: 0.1em; /* Space out the letters */
  text-transform: uppercase; /* Capitalize all letters */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
  margin: 30px 0;
  }

    </style>

    <!-- =======================================================
    * Template Name: Impact
    * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
    * Updated: Jun 29 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>

  <body class="starter-page-page">

    <header id="header" class="header fixed-top">


            

      </div><!-- End Top Bar -->

      <div class="branding d-flex align-items-cente">
        
        <img src="../assets/screen.png" width="250" height="80" >
        <div class="container position-relative d-flex align-items-center justify-content-between">
          <a href="index.html" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->


          </a>

          <nav id="navmenu" class="navmenu">
            <ul>  
              <li><a id = 'home' href="/">Home<br></a></li>

              <li><a id = 'details' href="#detail">Details</a></li>
              <li><a id = 'costs' href="#cost">Costs</a></li>
              <li><a id = 'forms' href="#form">Forms</a></li>





            </ul>

            
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          </nav>

        </div>

      </div>

    </header>

    <main class="main" style="background-image: url('../assets/screen1.png')">

      <div class="video-container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div id="comp-jr88bbnt" class="wixui-rich-text">
          <h3 style="font-size: 60px; text-align: center; color: #1034A6; text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4); font-family: 'Lulo Clean W01 One Bold', sans-serif; letter-spacing: 0;">
              <b>HASOUB</b>
              <br>
          </h3>
      </div>

      <div id="comp-jr65eh81" class="grassroot-movement">
          <h3 style="font-size: 32px; text-align: center; color: #1560bd;">
              A GRASSROOTS MOVEMENT
          </h3>
      </div>

      <div id="comp-jgc7htub" class="grassroot-movement">
          <h3 style="font-size: 18px; text-align: center; color: #FFFFFF;">
              Paving the way for the coming generation of<br>
              Arab TECH-entrepreneurs.
          </h3>
      </div>




      </div></center>
      <!-- End YouTube Video with Background -->
      <!-- Page Title -->
      <h1 id="detail"></h1>
      <br>
      <br>
      <div class="page-title">
        <div class="heading">
          <div class="container">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-lg-8">
                <section id="starter-section" class="starter-section">

        <!-- Section Title -->

        <div class="container section-title" data-aos="fade-up">
          <h1 style = "color:#002244"><font size="10000">Workshop Details</font></h1>

          <section id="lectures">
          <br>
          <br>
          <br>

    <h2 style="color:#002D62">Workshop at Hasoub Garage</h2>
    <br>
    <h4>At Hasoub Garage, we are committed to providing exceptional learning experiences through our tailored lectures and workshops. These sessions cover a broad range of topics, including professional development, soft skills, and advanced technologies such as 3D modeling.</h4>
    <br>
    <br>
    <h3><b>Booking a Lecture<b></h3>
    <h4><ul>
      <br>
      <li><strong>Submit Your Request:</strong> To arrange a lecture or workshop for your group, please fill out the inquiry form below with your preferred date, topics of interest, and any other relevant details.</li>
      <br>
      <li><strong>Pricing Information:</strong> After receiving your request, we will provide you with the applicable fees for the session.</li>
    </ul></h4>
  </section>
  <br>
  <br>
  <section id="rental">
    <h2 style="color:#002D62">Renting A Space at Hasoub Garage</h2>
    <br>
    <h4>Hasoub Garage offers its collaborative and private spaces for rent, perfect for tech projects, workshops, team meetings, and more. Our spaces are designed to support productivity and innovation.</h4>
    <br>
    <br>
    <h3><b>How to Rent Our Space</b></h3>
    <br>
    <h4><ul>
      <li><strong>Submit Your Request:</strong> Fill out the form below with your details, including the type of event or project, desired rental dates, and any specific requirements.</li>
      <br>
      <li><strong>Discuss Details:</strong> Once we receive your request, we will contact you to discuss availability and finalize the rental terms.</li></h4>
    </ul>
    <h1 id="cost"></h1>
    <br>
    <br>
    <br>
    <br>
    
  </section>
    <h2 style="color:#002D62">Estimatied cost for workshops</h2>
    <br>
    <br>
    <form method = "POST" action = "/#cost">
    <h4><label for ="ppl">Number of people that will be in the workshop (from 1 - 120):</label></h4>
    <input type="number" max = "120" min ="1" name="ppl" id ="ppl" style="width: 100px; padding: 10px; font-size: 16px; border: 2px solid #4a90e2; border-radius: 5px; outline: none; transition: border-color 0.3s ease, box-shadow 0.3s ease; text-align: center;">
    <br>
    <br>
    <h4><label for ="hours">Number of hours (3 - 12):</label></h4>
    <input type="number" max = "12" min ="3" name="hours" id ="hours" style="width: 100px; padding: 10px; font-size: 16px; border: 2px solid #4a90e2; border-radius: 5px; outline: none; transition: border-color 0.3s ease, box-shadow 0.3s ease; text-align: center;">
    <br>
    <br>
    <br>
    <input type="hidden" name="form_type" value="estimate">
    <input type="submit" value = "Get Estimatied Cost" style="background-color: #4a90e2; color: white; border: none; padding: 15px 30px; font-size: 20px; border-radius: 5px; cursor: pointer; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: background-color 0.3s ease;">
    </form>
    <br>
    <br>
    <br>
    {%if estimate != 0%}
    <h4 style="color:#0039a6"><b>Estimated cost: {{estimate}}₪</b></h4>
    {%endif%}


      </section>
    </nav>

              </div>
            </div>
          </div>
        </div>
        <nav class="breadcrumbs">
          <div class="container">
            <ol>
          </div>
          <div class="text-end">
            <wow-image id="img_comp-jql8jo5d" class="HlRz5e Kv1aVt dLPlxY mNGsUM bgImage" data-image-info="{&quot;containerId&quot;:&quot;comp-jql8jo5d&quot;,&quot;alignType&quot;:&quot;center&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:490,&quot;targetHeight&quot;:594,&quot;isLQIP&quot;:true,&quot;imageData&quot;:{&quot;width&quot;:1586,&quot;height&quot;:875,&quot;uri&quot;:&quot;db8066_97b337772b974aefac9ea596a8501929~mv2.png&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-has-ssr-src=""><img src="../assets/kathon.jpeg" alt="" width="490" height="594" style="width: 490px; height: 594px; object-fit: cover; object-position: 50% 50%;" fetchpriority="high"></wow-image>
  <wow-image id="img_comp-jql8jo5d" class="HlRz5e Kv1aVt dLPlxY mNGsUM bgImage" data-image-info="{&quot;containerId&quot;:&quot;comp-jql8jo5d&quot;,&quot;alignType&quot;:&quot;center&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:490,&quot;targetHeight&quot;:&quot;594&quot;,&quot;isLQIP&quot;:true,&quot;imageData&quot;:{&quot;width&quot;:1586,&quot;height&quot;:875,&quot;uri&quot;:&quot;blob:https://web.whatsapp.com/81cbe6af-0cc7-49de-a206-23921b22af04&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-has-ssr-src="">
      <img src="https://my.israelgives.org/APPIMAGES/FundPage/Original/6457ec9d-7652-47b3-872d-67fd51aec629.png" alt="" width="490" height="594" style="width: 490px; height: 594px; object-fit: cover; object-position: 50% 50%;" fetchpriority="high">
  </wow-image>
          
           <wow-image id="img_comp-jql8jo5d" class="HlRz5e Kv1aVt dLPlxY mNGsUM bgImage" data-image-info="{&quot;containerId&quot;:&quot;comp-jql8jo5d&quot;,&quot;alignType&quot;:&quot;center&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:490,&quot;targetHeight&quot;:594,&quot;isLQIP&quot;:true,&quot;imageData&quot;:{&quot;width&quot;:1586,&quot;height&quot;:875,&quot;uri&quot;:&quot;db8066_97b337772b974aefac9ea596a8501929~mv2.png&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-has-ssr-src=""><img src="https://static.wixstatic.com/media/950c37_79727c2b0b4a41fcb3d7207c06e82e53~mv2.png/v1/fill/w_640,h_476,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/950c37_79727c2b0b4a41fcb3d7207c06e82e53~mv2.png" alt="" width="490" height="594" style="width: 490px; height: 594px; object-fit: cover; object-position: 50% 50%;" fetchpriority="high"></wow-image>
           <wow-image id="img_comp-jql8jo5d" class="HlRz5e Kv1aVt dLPlxY mNGsUM bgImage" data-image-info="{&quot;containerId&quot;:&quot;comp-jql8jo5d&quot;,&quot;alignType&quot;:&quot;center&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:490,&quot;targetHeight&quot;:594,&quot;isLQIP&quot;:true,&quot;imageData&quot;:{&quot;width&quot;:186,&quot;height&quot;:875,&quot;uri&quot;:&quot;db8066_97b337772b974aefac9ea596a8501929~mv2.png&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-has-ssr-src=""><img src="https://static.wixstatic.com/media/950c37_aed18bdfae964afca6cbcba7223a687f~mv2.jpg/v1/fill/w_640,h_924,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/950c37_aed18bdfae964afca6cbcba7223a687f~mv2.jpg" alt="" width="490" height="594" style="width: 345px; height: 594px; object-fit: cover; object-position: 50% 50%;" fetchpriority="high"></wow-image>
        </div>
            </ol>
        </nav>
      </div><!-- End Page Title -->

      <!-- Starter Section Section -->
      
      <div class="page-title">
        <div class="heading">
          <div class="container">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-lg-8">
               <section id="starter-section" class="starter-section section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2 style="color:#002D62"><b>Registration Forms</b></h2>
          
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up">

        <h1 id="form"></h1>
        </div>
      

     
                <a href="/rent"><button type="button" class="custom-button">Rental Form</button></a>
                <br>
                <br>
                <br>
                <a href="/study"><button type="button" class="custom-button">Workshops Form </button></a>


                </section>
              </div>
            </div>
          </div>
        </div>
        <nav class="breadcrumbs">
          <div class="container">
            <ol>





    </main>

    <footer id="footer" class="footer accent-background">

      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">Impact</span>
            </a>
            <p>Filling the pipeline with more potential Arab entrepreneurs by empowering university students and early-stage entrepreneurs with the knowledge, skills, network and resources they need to pursue their dreams and build their startups.</p>
            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">Web Design</a></li>
              <li><a href="#">Web Development</a></li>
              <li><a href="/signup">Sign up (;</a></li>
              <li><a href="#">Marketing</a></li>
              <li><a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>HaNamal 28 St. Haifa, Israel </p>
            
           
            <p><strong>Email:</strong> <span>mail@hasoub.org</span></p>
          </div>

        </div>
      </div>


      <div class="container copyright text-center mt-4">
        <p>©HASOUB © 2019 <span>Copyright</span> <strong class="px-1 sitename">Impact</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        </div>
      </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

  </body>

  </html>